@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");

.loginMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.loginEngineer {
  padding: 20px;
  background-color: black;
  color: beige;
  font-weight: 600;
  font-size: 1em;
}
.certificateMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.3);
  margin: 20px 400px;
  background-color: beige;
}
.certificateHead {
  font-family: "Libre Baskerville", serif;
}
.details {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  display: inline;
}
.logo {
  padding: 20px;
}

.indi{
  display: flex;
  flex-direction: row;
}
.indi>h3{
  padding-right:20px ;
}
.indi>h4{
  font-weight: 600;
  font-size: 16px;
}